<div class="row">
  <div class="col-md-6">
    <h3>Day 1</h3>
    <table class="table table-striped">
      <tr> <td>Before</td> <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank" rel="noopener noreferrer">Pre-workshop survey</a> </td> </tr>
      <tr> <td>09:00</td>  <td>Welcome, Setup and Code of Conduct</td> </tr>
      <tr> <td>09:10</td>  <td>Introduction to R and RStudio</td> </tr>
      <tr> <td>10:00</td>  <td>Break</td> </tr>
      <tr> <td>10:15</td>  <td> Project Management With RStudio</td> </tr>
      <tr> <td>10:45</td>  <td> Seeking Help</td> </tr>
      <tr> <td>11:00</td>  <td> Data Structures</td> </tr>
      <tr> <td>11:30</td>  <td>Break</td> </tr>
      <tr> <td>11:40</td>  <td> Data Structures (continued)</td> </tr>
      <tr> <td>12:00</td>  <td> Exploring Data Frames</td> </tr>
      <tr> <td>12:25</td>  <td>Wrap-up and Minute Card</td> </tr>
      <tr> <td>12:30</td>  <td>Lunch break</td> </tr>
      <tr> <td>13:30</td>  <td>Subsetting Data</td> </tr>
      <tr> <td>14:30</td>  <td>Break</td> </tr>
      <tr> <td>14:45</td>  <td> Control Flow</td> </tr>
      <tr> <td>15:30</td>  <td>Break</td> </tr>
      <tr> <td>15:45</td>  <td>Creating Publication-Quality Graphics with ggplot2</td> </tr>
      <tr> <td>16:30</td>  <td>Wrap-up and Minute Cards</td> </tr>
      <tr> <td>17:00</td>  <td>END</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 2</h3>
    <table class="table table-striped">
      <tr> <td>09:00</td>  <td>Day 2 Welcome; Saving and Loading</td> </tr>
      <tr> <td>09:10</td>  <td>Vectorization</td> </tr>
      <tr> <td>09:35</td>  <td>Functions Explained</td> </tr>
      <tr> <td>10:00</td>  <td>Break</td> </tr>
      <tr> <td>10:15</td>  <td>Functions Explained (continued)</td> </tr>
      <tr> <td>10:50</td>  <td>Writing Data</td> </tr>
      <tr> <td>11:15</td>  <td>Break</td> </tr>
      <tr> <td>11:30</td>  <td> Splitting and Combining Data Frames with plyr</td> </tr>
      <tr> <td>12:20</td>  <td>Morning Wrap-up and Minute Cards</td> </tr>
      <tr> <td>12:30</td>  <td>Lunch break</td> </tr>
      <tr> <td>13:30</td>  <td> Splitting and Combining Data Frames with plyr (continued)</td> </tr>
      <tr> <td>13:40</td>  <td> Data frame Manipulation with dplyr</td> </tr>
      <tr> <td>14:30</td>  <td>Break</td> </tr>
      <tr> <td>14:45</td>  <td>Data frame Manipulation with tidyr</td> </tr>
      <tr> <td>15:45</td>  <td>Break</td> </tr>
      <tr> <td>16:00</td>  <td>Additional modules on producing automated reports and writing good software</td> </tr>
      <tr> <td>16:30</td>  <td>Wrap-up - Where to learn more and get help</td> </tr>
      <tr> <td>16:50</td>  <td><a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank" rel="noopener noreferrer">Post-Workshop Survey</a></td> </tr>
      <tr> <td>17:00</td>  <td>END</td> </tr>
    </table>
  </div>
</div>
